*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fuente1);
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root{
    --fuente1: 'Share Tech Mono', monospace;;
    --lila: rgb(186, 158, 232); 
    --redSoft: rgb(236, 60, 83);
    --orange: rgb(230, 142, 32);
    --green:rgb(122, 214, 78);
    --pink:rgb(223, 127, 118);
    --yellow:rgb(254, 194, 82);
    --skyblue:rgb(21, 185, 227);
    --cyan:rgb(60, 228, 141);
}



body{
    background-color: black;
    width: 100%;
}

/* HEADER */
header{
    display: flex;
    justify-content: end;
    width: 100%;
}

.logueoInicio{
    margin-right: 20px;
    margin-top: 10px;
}
#loginA,#loginB{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
}
#loginA:hover{color: var(--redSoft);}
#loginB:hover{color: var(--orange);}

span{font-weight: 800; color: whitesmoke; font-size: 1.8rem;}

/* MAIN */
.logo-inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800px;
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom: 50px;
    margin-top: 90px;
    text-transform: uppercase;
}

/* SECCION1 */

.seleccion-inicio{
   display: flex;
   justify-content: center;
   gap: 50px;
   max-width: 100%;
   margin: 0 auto 250px auto;
}

.djs-inicio{
    background-image: url(../imgProyectoPersonal/fondo1.jpg);
    background-size: cover;
    padding: 40px 75px 40px 75px;
    border-radius: 15px;
}
.conciertos-inicio{
    background-image: url(../imgProyectoPersonal/fondo2.jpg);
    background-size: cover;
    padding: 40px 50px 40px 50px;
    border-radius: 15px;
}

.enlaces-inicio{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 800;
    color: whitesmoke;
    text-transform: uppercase;
    transition: 1s; 
}

.enlaces-inicio:hover{font-size: 2rem;}

/* SECCION EVENTOS */
.seccion-info-djs{width: 100%;}

.titulo-principal-djs{
    color: whitesmoke;
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.titulo-principal-djs:hover{ color: var(--lila);}

.img-info-djs{
    display: grid;
    grid: 1fr 1fr / 1fr 1fr 1fr 1fr;
    justify-self: center;
    margin-top: 0;
    gap: 15px; 
    margin-left: 40px;
    margin-right: 40px;
}

.fondo1{
        background-image: url(../imgProyectoPersonal/Djs/17-11-2023-jamieJones.png);   
}
.fondo2{
        background-image: url(../imgProyectoPersonal/Djs/17-11-2023-caniche.png);
}
.fondo3{
    background-image: url(../imgProyectoPersonal/Djs/18-11-2023-argy.png);}
.fondo4{
    background-image: url(../imgProyectoPersonal/Djs/18-11-2023-youngMarco.png);}
.fondo5{
    background-image: url(../imgProyectoPersonal/Djs/18-11-2023-kunst.png);
}
.fondo6{
    background-image: url(../imgProyectoPersonal/Djs/18-11-2023-rhode&brown.png);
}
.fondo7{
    background-image: url(../imgProyectoPersonal/Djs/18-11-2023twoEx.png);
}
.fondo8{
    background-image: url(../imgProyectoPersonal/Djs/18-11-2023-manfredas.png);
}
.fondo9{
    background-image: url(../imgProyectoPersonal/Djs/19-11-12-cloone.png);
}
.fondo10{
    background-image: url(../imgProyectoPersonal/Djs/23-11-2023-biia.png);
}
.fondo11{
    background-image: url(../imgProyectoPersonal/Djs/23-11-2023-sammyvirji.jpg);
}
.fondo12{
    background-image: url(../imgProyectoPersonal/Djs/24-11-2023-kungs.jpg);
}

.fondo1,.fondo2,.fondo3,.fondo4,.fondo5,.fondo6,.fondo7,.fondo8,.fondo9,.fondo10,.fondo11,.fondo12{
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    border-radius: 15px;
}

.texto-fondo-1{
opacity: 0;
background-color: rgba(0, 0, 0, 0.877);
width: 100%;
color: whitesmoke;
font-size: 1.4rem;
font-weight: 800px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-transform: uppercase;
padding: 40% 15% 40% 15%;
} 

.texto-fondo-1:hover{
opacity: 1;
transition: 1s;
}

.contenedor-info{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.nombres-djs{
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
}

.box-generos{
    margin-bottom: 20px;
}

.enlace-g,.enlace-local,.enlace-info{
    text-decoration: none;
    color:whitesmoke;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 800;
}
.enlace-local{
    font-size: 2rem;
}
.enlace-local:hover{
    color: var(--redSoft);
}
.enlace-g{
    border: 2px solid whitesmoke;
    padding: 5px;
}
.enlace-g:hover{
    color: var(--lila);
    border: 2px solid var(--lila);
}
.fecha{
    font-size: 2.5rem;
}
.autor{
    font-size: 0.7rem;
    color: rgb(177, 177, 177);
}
.box-ver-mas{
    display: flex;
    justify-content: center;
}
.ver-mas-styles{
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}

.ver-mas-styles{
    color: whitesmoke;
    font-family: var(--fuente1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 50px;
}

.ver-mas-styles:hover{
    color: var(--green);
}

/*Volver al inicio*/

.arrow{
    background-image: url(../imgProyectoPersonal/back-1.png);
    background-repeat: no-repeat;
    padding: 25px;
}
.contenedor-back{
    display: flex;
    justify-content: center;
    margin: 50px auto 50px auto;
}

.arrow:hover{
    background-image: url(../imgProyectoPersonal/back-2.png);
}
/* SECCION CONCIERTOS */
.seccion-conciertos{
    width: 100%;
    margin-top:70px;
}

.titulo-principal-c{
    color: whitesmoke;
    font-family: var(--fuente1);
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.titulo-principal-c:hover{color:var(--yellow);}

.img-info-c{
    display: grid;
    grid: 1fr 1fr 1fr/ 1fr 1fr ;
    justify-items: center;
    
}
.contenedor-concierto{
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
}
.conciertos-info{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.753);
    width: 100%;
    color: whitesmoke;
    font-size: 1rem;
    font-family: var(--fuente1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    text-align: center;
    padding: 100px 70px 100px 70px;
    border-radius: 15px;
}

.conciertos-info:hover{
    opacity: 1;
    transition: 1s;
    }

.box1{
    background-image: url(../imgProyectoPersonal/Conciertos/18-11-2023-spinGospelHouse.png);}
.box2{
    background-image: url(../imgProyectoPersonal/Conciertos/20-11-2023-nilsFrahm.png);}
.box3{
    background-image: url(../imgProyectoPersonal/Conciertos/22-11-2023-latinJam.png);}
.box4{
    background-image: url(../imgProyectoPersonal/Conciertos/23-11-2023-afrojam.png);}
.box5{
    background-image: url(../imgProyectoPersonal/Conciertos/24-11-2023-holyWave.png);}
.box6{
    background-image: url(../imgProyectoPersonal/Conciertos/28-11-2023-boogieBelgique.png);}

.box1,.box2,.box3,.box4,.box5,.box6{
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    
}

.artistas{
    font-size: 3rem;
}

.box-generos-2{
        margin-bottom: 20px;
    }

.enlace-g{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
}
.enlace-local-c{
    text-decoration: none;
    color: whitesmoke;
}
.mas-info-c{
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
    margin-top: 20px;
}
.ver-mas-styles2{
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 2rem;
}
.ver-mas-styles2:hover{
    color: var(--skyblue);
}

@media(min-width:768px) and (max-width:1140px){
    .seleccion-inicio{
        margin: 0 auto 150px auto;
    }
    .djs-inicio{
        padding: 30px 40px 30px 40px; 
        margin-bottom: 20px;
    }
    .conciertos-inicio{
        padding:30px 20px 30px 20px; 
        margin-bottom: 20px;
    }

    .titulo-principal-djs{
        margin-bottom: 50px;
        font-size: 6rem;
    }

    .img-info-djs{
        display: grid;
        grid: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr;
    }

    .texto-fondo-1{padding: 5% 40% 5% 40%;}
    
    .box1,.box2,.box3,.box4,.box5,.box6{
        margin-bottom: 20px;
        width: 355px;
        height: 255px;
    }
    
}

@media(max-width:768px){

    .inicioTitulo{
        font-size: 5rem;
        text-align: center;
    }

    .cajasInicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .cajaE{ padding: 30px 50px 30px 50px;margin-bottom: 15px;}
    .cajaC{ padding: 30px 30px 30px 20px;margin-bottom: 15px;}

    .sectorEventos{margin-top: 150px;}

    .fondoE1,.fondoE2,.fondoE3,.fondoE4,.fondoE5{
        width: 150px;
        height: 250px;
        margin-bottom: 10px;
    } 
    .fondoE6,.fondoE7,.fondoE8,.fondoE9,.fondoE10{
        width: 150px;
        height: 250px;
        margin-bottom: 10px;
    }
    .imgDjsPrincipal {
        display: grid;
        grid: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr;
    }

    .textoImgE{
        font-size: 0.5rem;
    }
   
    .textoImgP{
        font-size: 0.5rem;
    }
    .cajaVerMas1,.cajaVerMas2{
        justify-content: center;
        align-items: center;
    }

    .caja1C,.caja2C,.caja3C,.caja4C,.caja5C,.caja6C{
        margin-bottom: 20px;
        width: 360px;
        height: 250px;
    }
    .imgC{
        display: grid;
        grid: 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr ;
        justify-items: center;
        gap: 10px;
    }
    .infoEvento{
        font-size: 1rem;
    }
    
}




/* FOOTER */
.footer-general{
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 100px 0px 20px 0px;
    border-top: whitesmoke solid 1px;
    width: 100%;
}
.finCajaEnlaces{
    display: flex;
    flex-direction: column;
    align-items: start
}
.news-letter{
    color: whitesmoke;
    font-family: var(--fuente1);
    font-size: 1.5rem;
    margin-left: 50px;
    margin-top: 20px;
    line-height: 35px;
}
.enlaces-end{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--fuente1);
    margin-top: 15px;
    display: block;
    text-transform: uppercase;
}

.textoFin{
    color: whitesmoke;
    font-family: var(--fuente1);
    font-size: 1.5rem;
    margin-top: 30px;
    grid-column: 1/4;
    grid-row: 2/3;
}


.redes-end{ 
    margin-top: 25px;
}
.redes{
    width: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

@media(max-width:768px){
  
    .fin{
        display: grid;
        grid: 1fr 1fr 1fr 1fr/ 1fr ;
        margin: 30px 10px 0px 10px;
    }
    .textoFin{
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .newsLetter{
        margin-left: 0px;
        margin-top: 50px;
    }
    .finCajaEnlaces{margin-top: 30px;}
    .imgFooter{margin-top: 60px;}
}


@media(min-width:768px) and (max-width:1140px){
    .imgC{
        display: grid;
        grid:1fr 1fr 1fr / 1fr 1fr;
        margin-bottom: 20px;
    }
    .fin{
        display: grid;
        grid: 1fr 1fr/ 1fr 1fr ;
        justify-items: center;
        }
    .finCajaEnlaces{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 15px;
    }
    .newsLetter{margin-left: 70px;}
    .imgFooter,.textoFin{margin-top: 50px;}
}
/* POPUP */

.pop-up-a,.pop-up-b{
    background: rgba(0, 0, 0, 0.852);
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

.contenido-pop-up{
    height: 350px;
    width: 550px;
    background-image: url(../imgProyectoPersonal/fondo3.jpg);
    padding: 5px;
    border-radius: 5px;
    position: relative;
    font-family: var(--fuente1);
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
}
.exit{
    display: flex;
    justify-content: end;
    cursor: pointer;
} 

.titulo-login{margin-bottom:50px;}
.input-user-pass{
    margin: 20px auto ;
    display: block;
    width: 50%;
    justify-items: center;
    padding: 8px;
    border: solid 2px rgb(255, 255, 255);
    font-family: var(--fuente1);
}
.input-user-pass::placeholder{color: rgba(0, 0, 0, 0.838);}

.titulo-sign-up{margin-bottom:40px;}

#cierre{width: 25px;}

.button-1{
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    color: white;
}
.button-2{
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    color: white;
}
.buttons-log{margin-top: 50px;}

/*PAGINA DJ EVENTOS*/

/*FILTROS*/
.filtracion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto 50px 50px;
    cursor: pointer;
}

/*GENEROS*/
#generos-direct,#calendario-direct{
    background-color: rgba(255, 255, 255, 0.84);
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#calendario-direct a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: var(--fuente1);
    font-size: 3rem;
    text-transform: uppercase;
}
#generos-direct:hover{background-color: var(--orange);}
#calendario-direct:hover{background-color: var(--pink);}

#generos-direct a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: var(--fuente1);
    font-size: 3rem;
    text-transform: uppercase;
}
.contenedor-filtros-g{
    background: rgb(0, 0, 0);
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 15px;
}

.titulo-popup{
    font-family: var(--fuente1);
    color: whitesmoke;
    text-transform: uppercase;
}
.cierre-generos{
    margin-bottom:  150px;
    margin-right: 20px; 
    display: flex;
    cursor: pointer;
}
.menu-vertical{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.generos a{
    text-decoration: none;
    color: whitesmoke;
    border: whitesmoke solid 2px;    
    text-transform: uppercase;  
    font-family: var(--fuente1);
    font-size: 2.5rem;
    margin-left: 15PX;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 10px;
}
/*Calendario*/
.contenedor-filtros-c{
    background: rgba(0, 0, 0, 0.656);
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 15px;
}
.textCalendar{
    color: whitesmoke;
    font-size: 4rem;
    font-family: var(--fuente1);
}
.cierre-calendario{
    display: flex;
    justify-content: end;
    align-items: start;
}
.calendar{
    display:grid;
    grid: 1fr/1fr 1fr 1fr;
    width: 100%;
}
.contenedor-calendario{
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    background-color: var(--skyblue);
    padding: 20px;
    border-radius: 10px;
}
.date{
    font-family: var(--fuente1);
    background-color: rgb(255, 255, 255);
    width: 50%;
    font-size: 2rem;
    margin-top: 10px;
}
.envio{
    font-family: var(--fuente1);
    width: 20%;
    font-size: 1.5rem;
}


.contenedorDj{
    display: flex;
    flex-direction: column;
}

.cajaInfoDjs{
    display: flex;
    justify-content: center;
    margin: 0px 20px 20px 20px;
}

.imgDj1{
    width: 70%;
    margin-left: 20px;
    
}
.imgDj1 img{
    border-radius: 15px;
    width: 85%;
}

.textoDj{
    font-size: 2rem;
    color: whitesmoke;
    font-family: var(--fuente1);
    width: 100%;
}

.ubicacion{
    margin-top: 20px;
    margin-left: 10px;
    text-transform: uppercase;
}
.ubicacion a{
       color: var(--redSoft); 
       text-decoration: none;
}
.comunidad{
   margin-top: 30px;
}
.comh{
    color: whitesmoke; 
    text-decoration: none;
    border: whitesmoke solid 2px; 
    width: 25%;
    padding: 15px; 
    border-radius: 15px;
}
.comh:hover{
    color: var(--yellow);
    border: var(--yellow) solid 2px; 
}

iframe{
    border-radius: 15px;
    
}
.videoDiv{
    margin-bottom: 20px;
}
.contendorMedia{
    display: flex;
    flex-direction: column;
}

  
  
  
  
