

:root{
    --fuente1: 'Share Tech Mono', monospace;;
    --fuente2: 'Share Tech', sans-serif;
    --lila: rgb(186, 158, 232); 
    --red: rgb(236, 60, 83);
    --green: rgb(79, 232, 102);
    --cyan: rgb(51, 226, 141);
    --orange: rgb(230, 142, 32);
}

html{font-size: 62.5%;}

body{
    font-size: 16px;
    background-color: black;
}

.contenedorCajas{
    max-width: 60%;
    margin: 0 auto;
}

/* HEADER */
header{
    display: flex;
    justify-content: end;
}
.loginA,.loginB{
    font-family: var(--fuente1);
    text-decoration: none;
    color: whitesmoke;
}
.loginA:hover{color: var(--red);}
.loginB:hover{color: var(--orange);}

span{font-weight: 800; color: whitesmoke;}

/* MAIN */
.inicioTexto h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente1);
    font-weight: 800px;
    font-size: 7rem;
    color: whitesmoke;
    margin-bottom: 80px;
    margin-top: 40px;
}
/* MEDIA MOVIL TEXTO INICIO */
@media (max-width:768px) {
    .inicioTexto h1{
        font-size: 5rem;
        text-align: center;
    }
}

/* SECCION1 */
.cajasInicio{
   display: flex;
   justify-content: space-between;
   margin-bottom: 70px;
}

.cajaE{
    background-image: url(../imgProyectoPersonal/fondo1.jpg);
    background-size: cover;
    padding: 40px 60px 40px 60px;
    border-radius: 15px;
}
.cajaC{
    background-image: url(../imgProyectoPersonal/fondo2.jpg);
    background-size: cover;
    padding: 40px 35px 40px 35px;
    border-radius: 15px;
}
.cajaB{
    background-image: url(../imgProyectoPersonal/fondo3.jpg);
    background-size: cover;
    padding: 40px 50px 40px 50px;
    border-radius: 15px;
}
/* MEDIA MOVIL - CAJAS INICIO */
@media (max-width:768px) {
    .cajasInicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .cajaE{ padding: 30px 50px 30px 50px;margin-bottom: 15px;}
    .cajaC{ padding: 30px 20px 30px 20px;margin-bottom: 15px;}
    .cajaB{ padding: 30px;margin-bottom: 5px;}
}

.cajasInicio a{
    font-size: 1.5rem;
    text-decoration: none;
    font-family: var(--fuente1);
    font-weight: 700;
    color: whitesmoke;
    text-transform: uppercase;
}

/* SLIDER */
.cajasSlide{
    display:flex;
    justify-content: center;
    align-items: start;
    margin: 0px;
    padding: 0;
}
.slider {
    max-width: 100%;
    display: flex;
    overflow: hidden; 
}

.slider img{
    width: 300px;
    height: 250px;
    margin: 25px 15px 25px 15px;
    border-radius: 15px;
}


/* MEDIA TABLET */
@media(min-width:768px) and (max-width:1140px){
    .cajasInicio{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .cajaE{
        padding: 30px 50px 30px 50px; 
        margin-bottom: 20px;
    }
    .cajaC{
        padding:30px 20px 30px 20px; 
        margin-bottom: 20px
    }
    .cajaB{
        padding: 30px;margin-bottom: 20px
    }

    .slider img{
        width: 180px;
        height: 150px;
        margin: 10px;
        border-radius: 15px;
    }

}
/* MEDIA SLIDER MOVIL */

@media (max-width:768px){

    .slider{max-width: 100%;}

    .slider img{
        width: 350px;
        animation-duration: 17s;
        margin: 15px;
        border-radius: 15px;
        animation-name: cambio;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-delay: 2s;
    }

    @keyframes cambio{
        0% {
            transform: translateX(0);
        }
        10%{
            transform: translateX(-110%);
        }
        20%{
            transform: translateX(-218%);
        }
        30%{
            transform: translateX(-327%);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.tituloE{
    color: whitesmoke;
    font-family: var(--fuente1);
    font-size: 4rem;
    margin-left: 15px;
    text-align: center;
    text-transform: uppercase;
}

.tituloE:hover{ color: var(--lila);}

@media(max-width:1140px){
    .tituloE{
        font-size: 3rem;
    }
}


.imgEvent {
    display:flex;
}

.fondoE1{
        background-image: url(../imgProyectoPersonal/eventoClooneDom19.png);
        background-size:cover;
        background-repeat: no-repeat;
        width: 250px;
        height: 450px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
}

.fondoE2{
        background-image: url(../imgProyectoPersonal/eventoJamieJonesvie17.png);
        background-size:cover;
        background-repeat: no-repeat;
        width: 250px;
        height: 450px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
}

.fondoE3{
        background-image: url(../imgProyectoPersonal/eventoYoungMarcoSab18.png);
        background-size:cover;
        background-repeat: no-repeat;
        width: 250px;
        height: 450px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        }
.fondoE4{
        background-image: url(../imgProyectoPersonal/eventoJamieJonesvie17.png);
        background-size:cover;
        background-repeat: no-repeat;
        width: 250px;
        height: 450px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;

}
.fondoE5{
        background-image: url(../imgProyectoPersonal/eventoJamieJonesvie17.png);
        background-size:cover;
        background-repeat: no-repeat;
        width: 250px;
        height: 450px;
        margin-left: 10px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
}

.textoImgE{
    display: none;
}

.cajaFondo:hover {
    background-color: black;
    opacity: 0;
    transition: 1s ;
    display: flex;
    justify-content: center;
}

.cajaFondo:hover .textoImgE {
    display: flex;
    justify-content: center;
    color: bisque;

}