:root{
    --fuente1: 'Share Tech Mono', monospace;;
    --lila: rgb(186, 158, 232); 
    --redSoft: rgb(236, 60, 83);
    --orange: rgb(230, 142, 32);
    --green:rgb(122, 214, 78);
    --pink:rgb(223, 127, 118);
    --yellow:rgb(254, 194, 82);
    --skyblue:rgb(21, 185, 227);
    --cyan:rgb(60, 228, 141);
}

html{font-size: 62.5%;}

body{
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    height: 100%;
    background-size:cover;
}

.tituloDje{
   color: white;
   font-size: 4rem;
   font-family: var(--fuente1);
   text-transform: uppercase;
}
.tituloImgDje{
    background-color: rgba(0, 0, 0, 0.834);
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 0px;
    padding-bottom: 100px;
    border-radius: 15px;
    border: var(--lila) solid 2px;
}
.sectionA1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.cajaImgText1{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.imgA1{
    width:250px;
    border-radius: 15px;
}
.textoA1{
    margin-left: 20px;
    background-color:rgba(0, 0, 0, 0.673);
    border-radius: 15px;
    color: whitesmoke;
    font-family: var(--fuente1);
    border: var(--skyblue) solid 2px;
}
.textoA1 p{
    font-size: 2rem;
    margin: 50px;
}