:root{
    --fuente1: 'Share Tech Mono', monospace;;
    --lila: rgb(186, 158, 232); 
    --redSoft: rgb(236, 60, 83);
    --orange: rgb(230, 142, 32);
    --green:rgb(122, 214, 78);
    --pink:rgb(223, 127, 118);
    --yellow:rgb(254, 194, 82);
    --skyblue:rgb(21, 185, 227);
    --cyan:rgb(60, 228, 141);
}

html{font-size: 62.5%;}

body{
    background-color: black;
    box-sizing: border-box;
    height: 100%;
    background-image: url(../imgProyectoPersonal/fondo1.jpg);background-size:cover;
}

.tituloDje{
   color: white;
   font-size: 4rem;
   font-family: var(--fuente1);
   text-transform: uppercase;
}
.tituloImgDje{
    background-color: rgba(0, 0, 0, 0.834);
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 0px;
    padding-bottom: 100px;
    border-radius: 15px;
}
.sectionA1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.cajaImgA1{
    display: flex;
}
.imgA1{
    background-image: url(../imgProyectoPersonal/eventoJamieJonesvie17.png);
    background-size: cover;
    width: 89vh;
    height: 62vh;
    margin-bottom: 20px;
    border-radius: 15px;
}
.textoA1{
    font-size: 2.5rem;
    padding: 160px;
    margin-left: 20px;
    background-color:rgba(0, 0, 0, 0.673);
    border-radius: 15px;
    color: whitesmoke;
    font-family: var(--fuente1);
}